{% extends "layout.html" %}

{% block body %}
<script>
    $(document).ready(function(){
        $("#person-form").hide();
    });
    $(document).ready(function(){
        $("#city-form").hide();
    });

    $(document).ready(function(){
        $("#person-btn").click(function(){
            $("#person-form").show();
            $("#city-form").hide();
        });
        $("#city-btn").click(function(){
            $("#person-form").hide();
            $("#city-form").show();
        });
    });
</script>

<div class="container mt-3" align="center">
    <input class="btn btn-primary" type="button" id="person-btn" value="PERSON">
    <input class="btn btn-primary" type="button" id="city-btn" value="CITY">
</div>

<div id="person-form" class="container mt-3">
    <div class="row justify-content-md-center">
        <form action="/insert_person" method='POST'>
            <div class="mt-3"> 
                <input type="text" id="name" name="name" placeholder="Name" REQUIRED/>
                <input type="text" id="surname" name="surname" placeholder="Surname" REQUIRED/>
                <input type="text" id="city_id" name="city_id" placeholder="City ID" REQUIRED/>
                <input type="text" id="phone_number" name="phone_number" placeholder="Phone Number" REQUIRED/>
                <input class="btn btn-outline-primary" type="submit" value="Add" >
            </div>
        </form>
    </div>
</div>

<div id="city-form" class="container mt-3">
    <div class="row justify-content-md-center">
        <form action="/insert_city" method='POST'>
            <div class="mt-3">
                <input type="text" id="city_name" name="city_name" placeholder="City Name" REQUIRED/>
                <input class="btn btn-outline-primary" type="submit" value="Add">
            </div>
        </form>
    </div>
</div>

{% endblock %}